@font-face {
  font-family: Cairo;
  src: url(../fonts/Cairo.ttf);
}

*{
font-family: Cairo;
}
.page-title h4{
font-family: Cairo;
color: #013156 !important;
}
.side-menu-fixed .side-menu{
  background-color: #013156 !important; 
  padding-top: 5px !important;
}
.side-menu-fixed .right-nav-text{
  color:white !important;
}
  .side-menu-fixed .side-menu li {
    width: 228px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.side-menu-fixed .side-menu li a .pull-left i,.side-menu-fixed .side-menu li a > i{
  color:white !important;
}
.menu-title{
  color:#c9c9c9 !important;
  border-bottom:none !important;
}
.content-wrapper{
  padding-top: 10px !important;
  background-color: white !important;
}
.dropbtn {
  background-color: #013156;
  color: white;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the list items */
.dropdown-content li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
}
.dropdown-content li:hover{
 color: #013156;
}

/* Style list item images */
.dropdown-content li img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}
.card,footer{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1) !important;
}
.admin-header .navbar-brand img{
  height:40px !important;
}
.admin-header.navbar ul.navbar-nav .nav-link i{
  color: #013156 !important;
}
.navbar-nav{
  align-items: center !important;
}
footer a{
  color: #0091ff !important;
}
.side-menu-fixed .side-menu li ul li a{
  font-size: 14px !important;
  font-weight: normal !important;
}
.content-wrapper .breadcrumb{
  visibility: hidden !important;
}
.admin-header {
    /* -webkit-box-shadow: 1px 1px 15px rgba(0,0,0,.1); */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.1) !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1) !important;
}
.side-menu-fixed .side-menu-bg {
  background: #03243e !important;
}
.table .thead-dark th {
  color: #fff;
  background-color: #013156 !important;
  border-color: #013156 !important;
}
.table{
  margin-bottom: 0 !important;
}
.processCol{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.AddBTN{
  margin-bottom: 20px;
}
/* .AddBTN button{
  background-color: green;
  border-color: green;
}
.AddBTN button:hover{
  background-color: rgb(5, 90, 5);
  border-color: rgb(5, 90, 5);
} */
.modal-title{
  font-family: Cairo;
}
.form-control {
  font-weight:bold !important;
  font-size: 14px !important;
  height: 50px !important;
  line-height: 1.33333 !important;
  padding: 10px 15px 10px 15px !important;
  background-color: white !important;
  color: #013156 !important;
  border: 1px solid #0131562d !important;
  box-shadow: none !important;
}
label{
  font-size: 14px !important;
  color: #013156 !important;
  font-weight: bold !important;
}
.modal-footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center !important;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  width: 100% !important;
}
.modal-footer>:not(:first-child),.modal-footer>:not(:last-child){
  width: 25%;
}
.table-hover tbody tr:hover{
  background-color: rgb(168 197 255 / 18%) !important;
}
.modal-body{
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
.btn{
  height:50px !important;
  width: auto;
  font-weight: bold !important;
}
.PButton{
  width: auto !important;
  height: auto !important;
}
.table td{
  font-weight: bold;
}
.form-row>.col, .form-row>[class*=col-]{
  align-self: center !important;
}
.form-row:not(:first-child){
  margin-top: 20px;
}
.navbar-nav:lang(ar){
  margin-left: unset !important;
}
.navbar-nav:lang(en){
  margin-right: unset !important;
}
.Notes{
  height: auto !important;
}
.select-info,.dataTables_length{
  display: none !important;
}
.pagination .page-item.active .page-link{
  background-color: #013156 !important;
  border-color: #013156 !important;
}
.mainOptionRow{
  display: flex;
  justify-content: space-between !important;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}