@font-face {
  font-family: Cairo;
  src: url(../fonts/Cairo.ttf);
}

*{
font-family: Cairo;
}
.page-title h4{
font-family: Cairo;
color: #013156 !important;
}
.side-menu-fixed .side-menu{
  background-color: #013156 !important; 
  padding-top: 5px !important;
}
.side-menu-fixed .right-nav-text{
  color:white !important;
}
  .side-menu-fixed .side-menu li {
    width: 228px;
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.side-menu-fixed .side-menu li a .pull-left i,.side-menu-fixed .side-menu li a > i{
  color:white !important;
}
.menu-title{
  color:#c9c9c9 !important;
  border-bottom:none !important;
}
.content-wrapper{
  padding-top: 10px !important;
  background-color: white !important;
}
.dropbtn {
  background-color: #013156;
  color: white;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the list items */
.dropdown-content li {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
}
.dropdown-content li:hover{
 color: #013156;
}

/* Style list item images */
.dropdown-content li img {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}
.card{
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1) !important;
}
.admin-header .navbar-brand img{
  height:40px !important;
}
.admin-header.navbar ul.navbar-nav .nav-link i{
  color: #013156 !important;
}
.navbar-nav{
  align-items: center !important;
}
footer a{
  color: #0091ff !important;
}